<% provide(:title, "Help") %>
<h1>Help</h1>
    <p>
      Get help with Ruby and Ruby on Rails at the following:
      	<ul>
      		<li><%= link_to 'Codecademy', 'http://www.codecademy.com' %></li>
    		<li><%= link_to 'Rails Guides', 'http://www.guides.rubyonrails.org' %></li>
    		<li><%= link_to 'RubyMonk', 'http://www.rubymonk.com' %></li>
    	</ul>
    </p>



